* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(.game-board, .clouds, .pipe, .mario, .score) {
    background-image: url('../img/terra.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 50px solid green;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#79b4cb, #e4eaec);
}

.clouds {
    width: 550px;
    position: absolute;
    animation: cloud-animation 4s infinite linear;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
    animation: pipe-animation 1s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}


@keyframes cloud-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 240px;
    }
    50% {
        bottom: 250px;
    }
    60% {
        bottom: 240px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes pipe-animation {
    from {
        right: 0;
    }
    to {
        right: 100%;
    }
}